--find-links https://k2-fsa.github.io/icefall/piper_phonemize.html

# Core ML dependencies
torch
torchaudio
numpy
lhotse
huggingface_hub
safetensors
tensorboard
vocos
pydub
onnxruntime
git+https://github.com/ysharma3501/LinaCodec.git
librosa
transformers<=4.57.6

# Normalization
cn2an
inflect

# Tokenization
jieba
piper_phonemize
pypinyin
setuptools<81

# API Server dependencies
fastapi>=0.100.0
uvicorn[standard]>=0.23.0
python-multipart>=0.0.6
pydantic>=2.0.0
